{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-6 offset-3">
				<h1 class="text-center my-3">Login</h1>
					{% if error == True %}
						<p class="text-danger">
							Invalid User Credentials, please check your username and password.
						</p>
					{% endif %}
				
				<form action="{% url 'todolist:login' %}" method="post">
					{% csrf_token %}
				  	<div class="mb-3">
				   		<label for="exampleInputEmail1" class="form-label">Username</label>
				    	<input type="text" class="form-control" id="username" name="username" value="{{ username }}" aria-describedby="emailHelp" max-length="20" required>
				    	<div id="emailHelp" class="form-text">We'll never share your Username with anyone else.</div>
				  	</div>
				  	<div class="mb-3">
				    	<label for="exampleInputPassword1" class="form-label">Password</label>
				    	<input type="password" class="form-control" id="password" name="password" value="{{ password }}" max-length="20" required>
				  	</div>
				  	<input type="submit" value="Submit" class="btn btn-primary">
				</form>
			</div>
		</div>		
	</div>


{% endblock %}




